<div class='container'>
  <% current_user.sent_requests.each do |sent| %>
  <% @users.each do |u|  %>


    <div>
      <%= link_to u.email , user_path(u) %>
    </div>

    <div>
      <%= form_for @request do |r| %>
      <%= r.hidden_field :invitor_id, value: current_user.id%>
      <%= r.hidden_field :invitee_id, value: u.id %>
      <%= r.hidden_field :accepted, value: false %>

        <%= r.submit "Request Friend" unless sent.invitee_id == u.id %>

    <% end %>
    </div>
  <% end %>

<% end %>
</div>
