<div class='container'>

  <% @users.each do |u|  %>

    <div>
      <%= link_to u.email , user_path(u) %>
    </div>

    <div>
      <% if u.id != current_user.id %>

        <%= form_for @request do |request| %>
        <%= request.hidden_field :invitor_id, value: current_user.id%>
        <%= request.hidden_field :invitee_id, value: u.id %>
        <%= request.hidden_field :accepted, value: false %>

        <%= request.submit "Request Friend" %>

      <% end %>
    <% end %>
  </div>
<% end %>
</div>
