<div class='container'>

  <% @users.each do |u|  %>


    <div>
      <%= link_to u.email , user_path(u) %>
    </div>

    <div>
      <%= form_for @request do |r| %>
      <%= r.hidden_field :invitor_id, value: current_user.id%>
      <%= r.hidden_field :invitee_id, value: u.id %>
      <%= r.hidden_field :accepted, value: false %>

      <%= r.submit "Request Friend" %>


    </div>
  
  <% end %>

<% end %>
</div>
