
  <%= image_tag @user.gravatar_url %>
  <p>Age: <%= ((Time.zone.now - @user.birthday.to_time) / 1.year.seconds).floor unless @user.birthday.nil?%></p>

<%= turbo_frame_tag @user do %>

  <%= form_for @user do |user| %>

    <div>
    <%= user.label :firstname %>
    <%= user.text_field :firstname,:readonly => true   %>
    </div>

    <div>
    <%= user.label :lastname %>
    <%= user.text_field :lastname,:readonly => true %>
    </div>

    <div>
    <%= user.label :relationship, :readonly => true  %>
    <%= user.text_field :relationship, :readonly => true  %>
    </div>


    <div>
    <%= user.label :birthday, :readonly => true %>
    <%= user.date_field :birthday, :readonly => true  %>
    </div>

    <% end %>
<%= link_to "Edit Profile", edit_user_path(@user) %>

<% end %>

<div>
  <% @user.posts.each do |post| %>
  <%= post.body %>
  <% end %>
</div>
