
<%= form_with model: @post do |post| %>
    <%= post.hidden_field :user_id, value: current_user.id%>

    <%= post.label :body, "Post:" %>
    <%= post.text_field :body %>

    <%= post.submit "Submit"%>
<% end %>

<div class="timeline">
<% if current_user.posts || current_user.friends.posts %>

<% @posts.each do |post| %>

    <div class="container left">
      <div class="content">
      <div><%= post.body %></div>
      <div>Number of likes:<%= post.likes.count %></div>
      <div><%= post.user.firstname %></div>

      </div>
    </div>

    <div class="container right">
      Comments:
      <div class="content">
        <% post.comments.each do |c| %>
        <div><%= c.body %></div>
        <% end %>
        <%= form_with model: @comment do |form| %>

            <%= form.hidden_field :user_id, value: current_user.id%>
            <%= form.hidden_field :post_id, value: post.id%>

            <%= form.label :body, "Comment:" %>
            <%= form.text_field :body %>

            <%= form.submit "Submit"%>
      <% end %>
      </div>
    </div>


  <p>
    <%= button_to "delete post", post, method: :delete %>
  </p>
  <p>
    <%= button_to "like", controller: "likes", action: "create", post_id: post.id, user_id: current_user.id, like: true %>
  </p>
<% end %>
<% end %>
</div>
